
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Home/_testlayout.cshtml";
}


<html>
<head>
    <title>Free Easy-Trip Website Template | About :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/slider.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    

    <div class="content">
        <div class="wrap">
            <div class="about">
                <h3>Hakkımızda</h3>
                <img src="~/web/images/about_banner.jpg" alt="" />
                <p>Lorem ipsum dolor</p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>&copy; 2013 Easy-Trip. All Rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
            </div>
        </div>
    </div>
</body>
</html>


